{
  "parser": "@typescript-eslint/parser",
  "extends": ["next", "prettier", "next/core-web-vitals"],
  "plugins": ["prettier", "@typescript-eslint", "react-hooks"],
  "rules": {
    "no-multi-spaces": "off",
    "indent": "off",
    "comma-dangle": "off",
    "spaced-comment": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "trailingComma": "es5",
        "semi": false
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/no-unescaped-entities": "off",
    "react/display-name": "off",
    "@next/next/no-page-custom-font": "off",
    "@next/next/no-img-element": "off",
    "@next/next/no-sync-scripts": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
